# dependencies
node_modules
**/node_modules
/.pnp
.pnp.*

# builds
dist
build
coverage
.cache

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# env files (keep examples)
.env
.env.*
!**/.env.example

# misc
.DS_Store
